@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ddd;
}
.contacts {
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 20px;
}

.contact-item {
    text-align: center;
}

.contact-item h3 {
    margin: 0 0 10px 0;
    color: red
}
.hero, .multi-image-slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% { transform: translateX(0%); }
    33% { transform: translateX(0%); }
    40% { transform: translateX(-100%); }
    73% { transform: translateX(-100%); }
    80% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

.multi-image-slider .slides {
    width: 300%;
    display: flex;
    animation: multi-slide 18s infinite;
}

.multi-image-slider .slide {
    display: flex;
    width: 33.33%;
}

.multi-image-slider .slide img {
    width: 300px;
    height: 400px;
    margin :0 auto;
    object-fit: cover;
}
.map{
    width: 80%;
    height: 500px;
    margin:0 auto  
}

.mapouter {
    width: 80%;
    height: 500px;
    margin:0 auto
}

#map {
    width: 100%;
    height: 100%;
}
.reviews {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    width:400px;
    height:300px
}

.reviews h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

#reviews-container {

    margin: 0 auto;
    text-align: left;
    object-fit: cover;
}
.wrapper{
overflow: hidden;
max-height: 400px;
}
.sk-ww-google-reviews{
    overflow: hidden;
    display:block
}
.reviews {
    background-color: gray;
    width: 500px;
    height:500px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    object-fit: cover;
    
}

.review h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.review p {
    font-size: 1em;
    color: #666;
    
}
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-left p, .footer-right ul {
    margin: 0 0 10px 0;
    line-height: 1.6;
}

.footer-right h3 {
    margin-top: 0;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 5px 0;
}

.footer-right ul li a {
    color: yellow;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}
.Directions{
    color:yellow
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #444;
}

.footer-bottom-left, .footer-bottom-right {
    display: flex;
    align-items: center;
}

.footer-bottom-right a img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.navbar-nav .nav-link{
    color:white;
    font-family: "Urbanist", sans-serif;
    font-size: 21px;
    font-weight: 600;
}
/*Css Coté Menu with css and javascript*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.menu-item {
  position: relative;
  display: inline-block;
  font-family:Josefin Sans;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
}
.menu-link {
  background-color: #575757;
}

.sub-menu {
  width:250px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  list-style: none;
  margin-top: 20px;
  border-radius:14px ;
  padding:12px;
}

.sub-menu-link {
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: block;
  font-family:Josefin Sans;
}

.sub-menu-link:hover {
  background-color: #575757;
}

/*.menu-item:hover .sub-menu {
  display: block;
}*/
.show-menu{
  display:block;
}